.gform-theme--framework
  :where(
    :not(svg)
      :not(svg *):not(symbol *):not(.gform-theme__no-reset--el)
      :not(.gform-theme__no-reset--children *):not(.gform-theme__disable)
      :not(.gform-theme__disable *):not(.gform-theme__disable-reset)
      :not(.gform-theme__disable-reset *):not(.gform_heading *):not(.gfield--type-html *)
      :not(.gfield--type-section *):not(.form_saved_message > *)
      :not(.form_saved_message_sent > *):not(.gform_confirmation_message *)
      :not(.wp-editor-container):not(.mce-tinymce):not(.mce-tinymce *)
      :not(.wp-editor-area):not(.gfield_description > *)
      :not(.gform-field-label--type-inline > :not(span))
  ) path {
  display: revert;
  all: revert-layer;
}
.gform_wrapper {
  &.gform-theme--api,
  &.gform-theme--foundation {
    --gf-form-gap-x: 10px;
    --gf-form-gap-y: 10px;
  }
  .gform_heading {
    margin-bottom: 25px;
    .gform_title {
      font-family: $secondary-font;
      font-size: 50px;
      font-weight: 600;
    }
    .gform_description {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      margin: 4px 0 0;
    }
  }
  .gform-body {
    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
      font-size: 18px;
      font-weight: 500;
      line-height: 200%;
      height: auto;
      color: var(--e-global-color-text, #555);
      background: transparent;
      padding: 10px 24px 10px 0;
      border: none;
      border-bottom: 1px solid #8c8c8c;
      border-radius: 0;
      outline: none;
      box-shadow: none;
      width: 100%;
      height: 58px;
    }
    select.select2-hidden-accessible {
      width: 100% !important;
    }
    textarea {
      min-block-size: auto !important;
      height: 100px;
    }

    .ginput_container_date {
      position: relative;
      z-index: 1;
      svg {
        position: absolute;
        right: 13px;
        z-index: -1;
        path {
          fill: $color-accent;
        }
      }
    }
  }
  .gform_footer {
    flex-wrap: nowrap !important;
    position: relative;
    > *:not(input) {
      position: absolute;
      right: 10px ;
      z-index: 9;
    }
    input[type="submit"] {
      display: inline-block !important;
      font-size: 17px !important;
      font-weight: 700 !important;
      line-height: normal !important;
      text-transform: uppercase !important;
      text-align: center !important;
      color: #ffffff !important;
      background: $color-accent !important;
      padding: 20px 40px !important;
      border: none !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      &.gform-button--width-full {
        width: 100% !important;
      }
    }
  }
  .gform_validation_errors {
    display: none !important;
  }
  .gform_confirmation_message {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
  }
}
body #gform_wrapper_1[data-form-index="0"].gform-theme{
  --gf-color-primary: var(--e-global-color-accent, #698F65);
}
